<i class="fas fa-gem"></i>
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-3 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsla(0, 0%, 100%, 0.953); " >
          AUTONOSKY <br />
          <span style="color: hsl(164, 93%, 32%)"><br>Training School <br>Platform</span>
        </h1>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card login-box ">
          <div class="card-body px-4 py-5 px-md-5">
            <div class="text-center">
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #9cd1b8;">Log in</h3>
            </div>
            <form>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <p class="form-label" for="form3Example3" style="color:azure;;">Email Address</p>
                <input type="email" id="form3Example3" class="form-control" name="email" [(ngModel)]="email" style="background-color: hsla(220, 84%, 95%, 0.478);"/>
                
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <p class="form-label" for="form3Example3" style="color: azure;">Password</p>
                <input type="password" id="form3Example4" class="form-control" name="password" [(ngModel)]="password" style="background-color: hsla(220, 84%, 95%, 0.478);"/>
                <br>
                
              </div>

              <!-- Checkbox -->
          
      

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color: rgba(8, 192, 186, 0.604);" (click)="OnUserLogin()" >
                Log in
              </button>
              
              <p style="color: hsla(220, 84%, 95%, 0.478);"> Forgot password? <a routerLink="/forgotPassword" class="link-info my-3">Reset Password</a></p>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
