.background-radial-gradient {
  font-family: "Saira",sans-serif;
  background-color: hsl(143, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(143, 41%, 31%) 15%,
      hsl(143, 41%, 30%) 35%,
      hsl(143, 41%, 20%) 75%,
      hsl(143, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(143, 41%, 35%) 15%,
      hsl(143, 41%, 30%) 35%,
      hsl(143, 41%, 20%) 75%,
      hsl(143, 41%, 19%) 80%,
      transparent 100%);
      height: 993px;
      
}


.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
